body {
  width: 200px;
  color: #00457c;
  -webkit-user-select: none;
}

#header {
  margin-top: 10px;
  margin-bottom: 10px;
}

#title {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 2em;
}

#QUT-logo {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  /* Adds blue line to the right of the QUT logo */
  padding-right: 7px;
  margin-right: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #00457c;
}

#settings-icon {
  cursor: pointer;
  float: right;
  font-size: 1.5em;
}

#links-container {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-spacing: 0;
  /* It just works (tm) */
  margin-right: -48px;
}

#links-container, #general-settings {
  float: right;
  text-align: right;
}

h1 {
  font-weight: normal;
  text-align: right;
  margin-bottom: 5px;
}

.link-button {
  float: right;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background-color: #00457c;
  color: #ffffff;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.link-button:hover {
  background-color: #00294A;
}

#settings {
  
}


/*Needed for Vue.js animation*/

.expand-transition {
  transition: all .3s ease;
  height: 30px;
  padding: 10px;
  background-color: #eee;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  height: 0;
  padding: 0 10px;
  opacity: 0;
}

/*end Vue.js animation*/

.link-button-hidden {
  opacity: 0.5;
}

.hide-or-delete-icon {
  /*padding-left used for a nifty animation effect*/
  padding-left: 30px;
  cursor: pointer;
}
