body {
  width: 215px;
  color: #00457c;
  -webkit-user-select: none;
  overflow: hidden;
}

#header {
  margin-top: 10px;
  margin-bottom: 10px;
}

#title {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  font-size: 2em;
}

#QUT-logo {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  /* Adds blue line to the right of the QUT logo */
  padding-right: 7px;
  margin-right: 2px;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #00457c;
}

#settings-icon {
  cursor: pointer;
  float: right;
  font-size: 1.5em;
}

#links-container {
  font-size: 1.5em;
  margin-bottom: 10px;
  border-spacing: 0;
  /* It just works (tm) lol */
  margin-right: -58px;
}

#links-container {
  float: right;
  text-align: right;
}

.settings-entry {
  text-align: left;
  margin-top: 8px;
  position: relative;
  padding-right: 28px;
}
.settings-entry i {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 5px;
  font-size: 1.5em;
}

h2 {
  font-weight: normal;
  text-align: left;
  margin-bottom: 0;
}

.link-button {
  float: right;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  background-color: #00457c;
  color: #ffffff;
  border: none;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.link-button:hover {
  background-color: #00294A;
}

#github-link {
  text-decoration: underline;
  cursor: pointer;
  padding-bottom: 10px;
}

#github-link:hover {
  text-decoration: none;
}


/*Needed for Vue.js animation*/

.fade150ms-transition {
  transition: all 150ms ease;
  opacity: 1;
}

.fade150ms-enter, .fade150ms-leave {
  opacity: 0;
}


/*end Vue.js animation*/

.link-button-hidden {
  opacity: 0.5;
}

.hide-or-delete-icon {
  /*padding-left used for a nifty animation effect*/
  padding-left: 40px;
  cursor: pointer;
}
